@import url("https://api.fontshare.com/v2/css?f[]=telma@400&display=swap");



nav{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 6vh 3vw;
    
}

.logo{
   height: 3rem;
   width: auto;
   text-align: center;
   display: flex;
   overflow: hidden;
   background: transparent;
   cursor: pointer;
   border-radius: 50%;
   box-shadow: 1px 1px 4px rgb(29, 27, 27);
}

.logo-text{
   font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #646468;
  white-space: nowrap;
  font-family: "telma", serif;
  background: transparent;
  text-shadow: 1px 1px 2px black;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    color: rgb(189, 92, 92);
    cursor: pointer;
    font-weight: 400;
    background: transparent;
}

ul li{
    background: transparent;
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
}


li:hover{
    color: black;
}



@media (min-width: 250px) and (max-width: 540px) {
  nav {
     height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 4vh 2vw;
  }
  .logo{
   height: 1.5rem;
   width: auto;
   text-align: center;
   display: flex;
   overflow: hidden;
   background: transparent;
   cursor: pointer;
}
   .logo-text {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.5px;
    }



ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    list-style-type: none;
    color: rgb(189, 92, 92);
    cursor: pointer;
    font-weight: 400;
    background: transparent;
    padding: 0;
    margin: 0;

}

    ul li {
        background: transparent;
        font-size: 12px;
        text-shadow: 1px 1px 2px black;
    }
}




