@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    margin: 0 4vw;
    display: flex;
    flex-direction: column;
    gap: 5rem;
     overflow: hidden; 
}

#root{
      background-image: url("./assets/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}